BOT_TOKEN=
GRIZZLY_API_KEY=
DATABASE_URL=postgresql+asyncpg://USER:PASSWORD@HOST:5432/quickotp
PERMANENT_ADMIN_ID=7517279474
GRIZZLY_BASE_URL=https://api.grizzlysms.com/stubs/handler_api.php
LOG_LEVEL=INFO
POLL_INTERVAL=8
